+++
title = "Terence Munro"
linkTitle = "tm.gg"

+++

{{< blocks/cover title="Nothing to see here" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Knowledge Base <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/terrymunro/dotfiles">
		Dotfiles <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Seriously though, I haven't got any content yet.</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Don't know what you were expecting to be here.
{{% /blocks/lead %}}

{{< blocks/section >}}

{{% blocks/feature icon="fab fa-bug" title="What should go here?" %}}
I have no idea
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/terrymunro/terrymunro.github.io" %}}
We do a [Pull Request](https://github.com/terrymunro/terrymunro.github.io/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow me on Twitter!" url="https://twitter.com/terrymunro" %}}
For no good reason, I never tweet.
{{% /blocks/feature %}}

{{< /blocks/section >}}
